/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*fonts to be used on site*/
@import url(http://fonts.googleapis.com/css?family=Nunito:400);

/*
spacings
*/
.top_bot{
  padding-top: 30px;
  padding-bottom: 30px;
}

.top_bot2{
  padding-top: 50px;
  padding-bottom: 50px;  
}

.top_bot3{
  padding-left: 0;
  padding-right: 0;
  padding-top: 50px;
  padding-bottom: 50px;  
}

.two{
  line-height: 10px;
  height: 20px;
  padding: 0;
  margin: 0;
}

.four{
  line-height: 10px;
  height: 40px;
  padding: 0;
  margin: 0;
}


body{
	font-family: 'Nunito', 'Sans-serif';
}

h1, h2, h3, h4, h5, h6{
	font-size: inherit;
	font-family: inherit;
}

p, button{
	font-size: inherit;
	font-family: inherit;
	font-weight: normal;
	color: #000;
}

a:hover{
  text-decoration: none;
}


.vertical{
  color: #E75460;
  text-align: center;
}

.no_padding{
  padding: 0;
}


.main_image{
    background: url("../img/hero-image-icons.png") no-repeat; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    width: 100%;
    height: 613px;
    padding: 0px;
    margin: 0px;
}

button, .btn-md{
	color: white;
	font-size: 17px;
  width: 100px;
}

.btn-sign_up {
	text-shadow: 0 1px 0 #fff;
	background-image: -webkit-linear-gradient(top, #EC207A 0%, #E75460 100%);
	background-image:      -o-linear-gradient(top, #EC207A 0%, #E75460 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EC207A), to(#E75460));
	background-image:         linear-gradient(to bottom, #EC207A 0%, #E75460 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EC207A', endColorstr='#E75460', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	border: 2px solid #EC207A;
}
.btn-sign_up:hover,
.btn-sign_up:focus {
  	background-color: #E75460;
  	background-position: 0 -15px;
  	color: #000000;
}
.btn-sign_up:active,
.btn-sign_up.active {
  	background-color: #E75460;
  	border-color: #E75460;
}
.btn-sign_up:disabled,
.btn-sign_up[disabled] {
  	background-color: #E75460;
  	background-image: none;
}


.wide{
  width: 100px;
}

.percent{
  width: 100%;
}

.btn-log_in {
  	text-shadow: 0 1px 0 #fff;
  	background-image: -webkit-linear-gradient(top, #73BA74 0%, #3FBA00  100%);
  	background-image:      -o-linear-gradient(top, #3FBA00 0%, #73BA74 100%);
  	background-image: -webkit-gradient(linear, left top, left bottom, from(#3FBA00), to(#73BA74));
  	background-image:         linear-gradient(to bottom, #3FBA00 0%, #73BA74 100%);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3FBA00', endColorstr='#73BA74', GradientType=0);
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  	background-repeat: repeat-x;
  	border: 2px solid #3FBA00;
}
.btn-log_in:hover,
.btn-log_in:focus {
  	background-color: #73BA74;
  	background-position: 0 -15px;
  	border: 2px solid #3FBA00;
  	color: #000000;
}
.btn-log_in:active,
.btn-log_in.active {
  	background-color: #73BA74;
  	border-color: #73BA74;
}
.btn-log_in:disabled,
.btn-log_in[disabled] {
  	background-color: #73BA74;
  	background-image: none;
}


.btn-white {
	text-transform: uppercase;
	border: 2px solid #ffffff;
}

.btn-white:hover,
.btn-white:focus {
  	/* background-color: #EC207A;*/
  	background-position: 0 -15px;
  	color: #000;
  }

.btn-white:active,
.btn-white.active {
  	/*background-color: #EC207A;*/
  	border-color: #EC207A;
}
.btn-white:disabled,
.btn-white[disabled] {
  	/*background-color: #EC207A;*/
  	background-image: none;
}


.btn-white2 {
  text-transform: uppercase;
  border: 2px solid #ffffff;
  width: 100%;
  background-color: transparent;
}

.btn-white2:hover,
.btn-white2:focus {
    /* background-color: #EC207A;*/
    background-position: 0 -15px;
    color: #000;
  }

.btn-white2:active,
.btn-white2.active {
    /*background-color: #EC207A;*/
    border-color: #EC207A;
}
.btn-white2:disabled,
.btn-white2[disabled] {
    /*background-color: #EC207A;*/
    background-image: none;
}


/*thanks to: http://css-tricks.com/css3-gradients/*/
.pink {
  /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  background-image:
    -webkit-gradient(linear, left top, right top, from(#EC207A), to(#E75460));
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image:
    -webkit-linear-gradient(left, #EC207A, #E75460);
  /* Firefox 3.6 - 15 */
  background-image:
    -moz-linear-gradient(left, #EC207A, #E75460);
  /* Opera 11.1 - 12 */
  background-image:
    -o-linear-gradient(left, #EC207A, #E75460);
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image:
    linear-gradient(to right, #EC207A, #E75460);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EC207A', endColorstr='#E75460', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);

  margin-top: 5px;
  padding: 0px;
}

.no_margin{
  margin: 0;
}


.login {
  /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  background-image:
    -webkit-gradient(linear-gradient from(#3FBA00), to(#73BA74));
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image:
    -webkit-linear-gradient(#3FBA00, #73BA74);
  /* Firefox 3.6 - 15 */
  background-image:
    -moz-linear-gradient(#3FBA00, #73BA74);
  /* Opera 11.1 - 12 */
  background-image:
    -o-linear-gradient(#3FBA00, #73BA74);
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image:
    linear-gradient(#3FBA00, #73BA74);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3FBA00', endColorstr='#73BA74', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);

  text-transform: uppercase;
  font-size: 1.8em;
  height: 70px;
  border-radius: 10px;
}

.pink h1{
	color: #fff;
}

.pink p{
	color: #fff;
	font-size: 20px;
  line-height: 20px;
}

.pink a{
	color: #fff;
	font-weight: bold;
	margin-top: 20%;
}

.pink a:hover{
	color: #000;
}


.jumbotron{
  margin-bottom: 0px;
  padding: 0px;
  padding-bottom: 0px;
}

.login span{
	font-size: 1.3em;
}

.green{
	background-color: #ffffff;
	margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.green h1{
	color: #73BA74;
  font-size: inherit;
}

.green ul{
	list-style-type: none;
  padding-left: 0px;
}


.green li{
  color: #73BA74;
  font-size: 1.4em;
}

.green h2{
  color: #73BA74;
  font-size: 1.8em;
}


.green img{
  width: 80%;
  height: auto;
}


.green a{
  color: #fff;
}

.round{
background-color: #73BA74;
border-radius: 50px;
text-align: left;
line-height: 45px;
font-size: 20px;
padding-left: 14px;
padding-right: 14px;
padding-top: 6px;
padding-bottom: 6px;
vertical-align: middle;
color: #fff;
margin: 4px;
}

.login_small {
  /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  background-image:
    -webkit-gradient(linear-gradient from(#3FBA00), to(#73BA74));
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image:
    -webkit-linear-gradient(#3FBA00, #73BA74);
  /* Firefox 3.6 - 15 */
  background-image:
    -moz-linear-gradient(#3FBA00, #73BA74);
  /* Opera 11.1 - 12 */
  background-image:
    -o-linear-gradient(#3FBA00, #73BA74);
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image:
    linear-gradient(#3FBA00, #73BA74);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3FBA00', endColorstr='#73BA74', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);

  text-transform: uppercase;
}


.red{
  background-color: #FFFFFF;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
}
.red h1{
  color: #E75460;
}

.red ul{
  list-style-type: none;
  padding-left: 0px;
}


.red li{
  color: #E75460;
  font-size: 1.4em;
}

.red h2{
  color: #E75460;
  font-size: 1.8em;
}

.round2{
background-color: #E75460;
border-radius: 50px;
text-align: left;
line-height: 45px;
font-size: 20px;
padding-left: 14px;
padding-right: 14px;
padding-top: 6px;
padding-bottom: 6px;
vertical-align: middle;
color: #fff;
margin: 4px;
}

.red a{
  color: #FFFFFF;
}


.red img{
  width: 100%;
  height: auto;
}

.login_red {
  /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  background-image:
    -webkit-gradient(linear-gradient from(#EC207A), to(#E75460));
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image:
    -webkit-linear-gradient(#EC207A, #E75460);
  /* Firefox 3.6 - 15 */
  background-image:
    -moz-linear-gradient(#EC207A, #E75460);
  /* Opera 11.1 - 12 */
  background-image:
    -o-linear-gradient(#EC207A, #E75460);
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image:
    linear-gradient(#EC207A, #E75460);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EC207A', endColorstr='#E75460', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);

  text-transform: uppercase;
}



.green_grad {
  background-image:
    -webkit-gradient(linear-gradient from(#73BA74), to(#3FBA00));
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image:
    -webkit-linear-gradient(#73BA74, #3FBA00);
  /* Firefox 3.6 - 15 */
  background-image:
    -moz-linear-gradient(#73BA74, #3FBA00);
  /* Opera 11.1 - 12 */
  background-image:
    -o-linear-gradient(#73BA74, #3FBA00);
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image:
    linear-gradient(#73BA74, #3FBA00);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73BA74', endColorstr='#3FBA00', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.green_grad h1,p,li,a{
  color: #fff;
}

.green_grad h2{
  color: #FFFFFF;
  font-size: 1.8em;
  margin-left: 10%;
}

.line{
  width: 100%;
  min-height: 1px;
  border-bottom: 2px solid #fff;
}

.line2{
  width: 100%;
  margin-left: 0;
  margin-bottom: 10%;
  border-bottom: 2px solid #fff;
}

.green_grad li{
  line-height: 45px;
}

.green_grad a{
  position: relative;
  bottom: 5px;
}


.pink h2{
  color: #FFFFFF;
  font-size: 1.8em;
}

.breadcrumb{
  background-color: transparent;
}
.breadcrumb li{
  margin-left: 10px;
}

.pink li, a{
  font-size: 10px;
}

.breadcrumb a:hover{
  text-decoration: none;
  border: 1px solid blue;
}


/* ==========================================================================
   Responsive Menu
   ========================================================================== */

.logo{ 
  width: 100%;
  height: auto;
  margin-top: 20px;
}


/* ==========================================================================
   iphone and small devices css
   ========================================================================== */

   .iphone{
    background: url("../img/iphone-hero-image.png") no-repeat; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    width: 100%;
    height: 799px;
    padding: 0px;
    margin: 0px;
   }


.menu_button{
  width: 15%;
  height: auto;
}

.menu_button:hover{
  cursor: pointer;
}

.logo, .menu_button{
  display: inline-block;
}

/* red */

.round3{
  background-color: #E75460;
  border-radius: 50px;
  text-align: left;
  line-height: 45px;
  font-size: 17px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: middle;
  color: #fff;
  margin: 4px;
}

/*green*/

.round4{
  background-color: #73BA74;
  border-radius: 50px;
  text-align: left;
  line-height: 45px;
  font-size: 17px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: middle;
  color: #fff;
  margin: 4px;
}


.left_right{
  margin: 0 auto;
  padding-left: 50px;
}

