/* =========================================================================
	Media Queries
   ========================================================================= */


   /* 320px x 480px */
@media (min-width: 320px) and (max-width: 480px) {
	.main_image{
		background-size: 100% 30% !important;
	}
	body{
		padding-top: 50px;
		padding-bottom: 50px;
	}
 }

	/* 480 to 568 */

 @media (min-width: 480px) and (max-width: 568px) {
	.main_image{
		background-size: 100% 50% !important;
	}
		body{
		padding-top: 50px;
		padding-bottom: 50px;
	}
 }

	/* 568 to 600 */

 @media (min-width: 568px) and (max-width: 600px) {
	.main_image{
		background-size: 100% 50% !important;
	}
	body{
		padding-top: 50px;
		padding-bottom: 50px;
	}
 }

 	/* 600 to 768 */

 @media (min-width: 600px) and (max-width: 768px) {
	.main_image{
		background-size: 100% 50% !important;
	}
	body{
		padding-top: 50px;
		padding-bottom: 50px;
	}
 }

 	/* 768 to 1024 */

 @media (min-width: 768px) and (max-width: 1024px) {
	.main_image{
		background-size: 100% 50% !important;
	}
	body{
		padding-top: 50px;
		padding-bottom: 50px;
	}
 }

 	/* 1024 to desktop */

 @media (min-width: 1024px) and (max-width: 1200px) {
	.main_image{
		background-size: 100% 100% !important;
	}
	/*more....*/
 }

 	/* greater than desktop */

 @media (min-width: 1200px) and (max-width: 1980px) {

	/*more....*/

 }