/* =========================================================================
	Media Queries
   ========================================================================= */


/* =========================================================================
	320 to 479
   ========================================================================= */
@media (min-width: 320px) and (max-width: 479px) {
	.logo{
		width: 43%;
		height: auto;
		margin-left: 20px;
		margin-top: 20px;
	}

	.login{
		font-size: 1.3em;
		height: 50px;
	}

	.navbar-header{
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.iphone{
		height: 504px;
		width: 100%;
		background-position: center center;
	}
	.pink h1{
		text-align: center;
		font-size: 2em;
	}
	.pink p{
		text-align: center;
		font-size: 16px;
		line-height: 16px;
	}
	.pink a{
		margin-top: 0;
	}

	.red h1, .green h1, .green_grad h1{
		font-size: 2em;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 0;
		text-align: left;
	}

	.red, .green{
		padding-left: 20px;
	}

	.red h2, .green h2, .green_grad h2, .pink h2{
		line-height: 20px;
		font-size: 1.5em;
	}

	.red li, .green li, .green_grad li, .pink li{
		font-size: 1.3em;
		line-height: 24px;
	}

	.line{
		width: 94%;
		min-height: 1px;
		float: right;
		margin-bottom: 10px;
	}

	.logo_foot{
		width: 80%;
		margin-left: 10%;
		padding-left: 5px;
		padding-right: 5px;
	}
 }

/* =========================================================================
	480 to 567
   ========================================================================= */

 @media (min-width: 480px) and (max-width: 567px) {
	.logo{
		width: 43%;
		height: auto;
		margin-left: 20px;
		margin-top: 20px;
	}

	.iphone{
		height: 520px;
	}

	.pink h1{
		text-align: center;
		font-size: 2em;
	}
	.pink p{
		text-align: center;
		font-size: 16px;
		line-height: 16px;
	}
	.pink a{
		margin-top: 0;
	}

	.red h1, .green h1, .green_grad h1{
		font-size: 2em;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 0;
		text-align: left;
	}

	.red, .green{
		padding-left: 20px;
	}

	.red h2, .green h2, .green_grad h2, .pink h2{
		line-height: 20px;
		font-size: 1.5em;
	}

	.red li, .green li, .green_grad li, .pink li{
		font-size: 1.3em;
		line-height: 24px;
	}

	.line{
		width: 94%;
		min-height: 1px;
		float: right;
		margin-bottom: 10px;
	}

	.logo_foot{
		width: 80%;
		margin-left: 10%;
		padding-left: 5px;
		padding-right: 5px;
	}
 }

/* =========================================================================
	568 to 599
   ========================================================================= */

 @media (min-width: 568px) and (max-width: 599px) {

 	.logo{
		width: 43%;
		height: auto;
		margin-left: 20px;
		margin-top: 20px;
	}

	.iphone{
		height: 520px;
	}

	.pink h1{
		text-align: center;
		font-size: 2em;
	}
	.pink p{
		text-align: center;
		font-size: 16px;
		line-height: 16px;
	}
	.pink a{
		margin-top: 0;
	}

	.red h1, .green h1, .green_grad h1{
		font-size: 2em;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 0;
		text-align: left;
	}

	.red, .green{
		padding-left: 20px;
	}

	.red h2, .green h2, .green_grad h2, .pink h2{
		line-height: 20px;
		font-size: 1.5em;
	}

	.red li, .green li, .green_grad li, .pink li{
		font-size: 1.3em;
		line-height: 24px;
	}

	.line{
		width: 94%;
		min-height: 1px;
		float: right;
		margin-bottom: 10px;
	}

	.logo_foot{
		width: 50%;
		margin-left: 24%;
		padding-left: 5px;
		padding-right: 5px;
	}
 
 }

/* =========================================================================
	600 to 767 small tablet profile
   ========================================================================= */

 @media (min-width: 600px) and (max-width: 766px) {
 	.logo{
		width: 43%;
		height: auto;
		margin-left: 20px;
		margin-top: 20px;
	}

	.iphone{
		height: 570px;
	}

	.pink h1{
		text-align: center;
		font-size: 2em;
	}

	.menu_button{
		width: 13%;
		margin-top: 50px;
	}

	.pink p{
		text-align: center;
		font-size: 16px;
		line-height: 16px;
	}
	.pink a{
		margin-top: 0;
	}

	.red h1, .green h1, .green_grad h1{
		font-size: 2em;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 0;
		text-align: left;
	}

	.red, .green{
		padding-left: 20px;
	}

	.red h2, .green h2, .green_grad h2, .pink h2{
		line-height: 20px;
		font-size: 1.5em;
	}

	.red li, .green li, .green_grad li, .pink li{
		font-size: 1.3em;
		line-height: 24px;
	}

	.line{
		width: 94%;
		min-height: 1px;
		float: right;
		margin-bottom: 10px;
	}

	.logo_foot{
		width: 50%;
		margin-left: 24%;
		padding-left: 5px;
		padding-right: 5px;
	}

 }

/* =========================================================================
	767 to 1024 small to medium devices
   ========================================================================= */

 @media (min-width: 767px) and (max-width: 1024px) {
 	.main_image{
 		background-size: 100% 100%;
 		background-position: center;
 		height: 427px;
 	}
	.navbar-form{
		padding: 0;
	}

	.login{
		border-radius: 5px;
		width: 70%;
		height: 40px;
		margin-top: 0;
		font-size: 1.2em;
		margin-left: 15%;
	}

	.navbar-header{
		width: 100%;
	}

	.btn-md{
		width: 80px;
		font-size: 14px;
	}

	.logo{
		width: 80%;
		margin-left: 10%;
	}

	.jumbotron h1{
		font-size: 45px;
	}

	.pink p{
		font-size: 17px;
		line-height: 17px;
	}

	.pink a{
		margin-top: 30%;
	}

	.pink h1{
		text-align: left;
		font-size: 2em;
	}

	.green h1, .red h1{
		font-size: 45px;
		line-height: 20px;
		margin: 0;
		padding: 0;
	}

	.green h2, .red h2{
		font-size: 20px;
	}

	.round, .round2{
		line-height: 30px;
		font-size: 10px;
		padding-left: 7px;
		padding-right: 7px;
		padding-top: 4px;
		padding-bottom: 4px;
		vertical-align: middle;
		color: #fff;
		margin: 4px;
	}

	.red li, .green li{
		font-size: 1em;
	}

	.line{
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}

	.green_grad li{
		line-height: 25px;
	}

	.green_grad ul{
		margin-top: 10%;
	}

	.col-md-2{
		min-height: 0px;
		padding: 0;
	}

	.red img{
		width: 85%;
	}

	.small_logo{
		width: 80%; 
		margin-left: 10%; 
		height: auto;
	}
 }

 	/* 1024 to desktop */

 @media (min-width: 1024px) and (max-width: 1200px) {
	.main_image{
		background-size: 100% 100% !important;
	}
	/*more....*/
	.small_logo{
		margin-left: 0;
	}
 }

 	/* greater than desktop */

 @media (min-width: 1200px) and (max-width: 1980px) {

	/*more....*/

 }